body {
    align-items: center;
    background-color: #222;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100vw;
}
.pantalla {
    align-items: center;
    background-color: #AAA;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.soporte {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: 1s;
}

.soporte.windows-10 { transform: translateZ(-100px) rotateY(0deg); }
.soporte.windows-7 { transform: translateZ(-100px) rotateY(-90deg); }
.soporte.windows-xp { transform: translateZ(-100px) rotateY(-180deg); }
.soporte.windows-98 { transform: translateZ(-100px) rotateY(90deg); }

.windows {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.windows10  {
    font-family: 'Segoe UI Regular';
    transform: rotateY(0deg) translateZ(calc(100vw/2));
}
.windows7 { 
    font-family: 'Segoe UI Regular';
    transform: rotateY(90deg) translateZ(calc(100vw/2));
}
.windowsxp { 
    transform: rotateY(180deg) translateZ(calc(100vw/2));
}
.windows98 { 
    transform: rotateY(-90deg) translateZ(calc(100vw/2));
    background-color: #008081;
}
.imagen-fondo {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    flex-direction: column;
    max-height: calc(100vh - 40px);
    flex-wrap: wrap;
}
.icono, nav button {
    font-size: 0.8em;
    display: block;
    margin: 7px 20px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 5px;
}
.icono img {
    height: 32px;
}
.icono:hover, nav button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
nav button {
    outline: none;
    background: transparent;
    border: 3px solid rgba(255, 255, 255, 0.3);
}
p {
    background-color: #213541;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: absolute;
    width: 100vw;
}
p > * {
    cursor: pointer;
}
.p7 {
    background: linear-gradient( 65deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) );
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 41px;
}
.p98 {
    background-color: silver;
    border-top: 2px outset #fff;
    color: #000;
}
.p98 span:last-of-type {
    border: 2px inset #fff;
    padding: 0 10px;
}
.pxp {
    background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #333 100%) center/cover no-repeat;
}

.buttonStart10 {
    cursor: default;
    outline: none;
    height: 16px;
    padding: 8px 15px;
}
.buttonStart7 {
    cursor: default;
    outline: none;
    height: 42px;
    position: relative;
    transform: translateX(20%) translateY(-20%);
}
.buttonStartxp {
    cursor: default;
    outline: none;
    height: 28px;
    margin: 0;
    padding: 4px 22px;
    background: linear-gradient(to bottom,
    rgb(0, 150, 40) 0%,
    rgb(0, 230, 80) 9%, 
    rgb(0, 150, 30) 18%,
    rgb(0, 168, 40) 92%,
    #333333 100%)
    center/cover no-repeat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttonStartxp::after {
    content: 'Start';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.buttonStart98 {
    cursor: default;
    border: 2px outset #fff;
    box-shadow: 1px 1px #000;
    height: 20px;
    outline: none;
    margin: 3px;
}
.taskStart {
    animation: taskStart10 100ms linear;
    position: absolute;
    height: 60vh;
    width: 40vh;
    background-color: aquamarine;
    bottom: 0;
    display: grid;
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: 1fr;
}
.taskStart10 {
    background-color: #213541;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.taskStart7 {
    background: linear-gradient(to bottom, #327AA4, #2E4B5A, #5CB0DC);
    border: solid 1px #102a3e;
    box-shadow: inset 0 0 1px #fff;
}
.taskStartxp {
    background: linear-gradient(to bottom, #245edb 18%, #245edb 100%) center/cover no-repeat;
    border: solid 1px #102a3e;
    border-radius: 5px;
}
.taskStart98 {
    background-color: silver;
    border: 2px outset #fff;
    box-shadow: 1px 1px #000;
}
/*
.taskStart98 span {
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    color: #fff;
    display: inline-block;
    background: linear-gradient(#00045f,#010079,blue);
}*/
@keyframes taskStart10 {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }
    100% {
        opacity: 1;
    }
}
@keyframes taskStart98 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}